.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 64px 0;
}
.logo {
    background: #5a5a5a;
    border: 1px dashed #c7c7c7;
    width: 199px;
    height: 44px;
    font-size: 18px;
    line-height: 120%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Bebas Neue";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    cursor: pointer;
}

.wallet {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #e75626;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 145px;
    white-space: nowrap;
}
